{% extends 'learning_logs/base.html' %}

{% load bootstrap3 %}

{% block header %}
<h2>Add a new topic:</h2>
{% endblock header %}

{% block content %}


    <form action="{% url 'learning_logs:new_topic' %}" method="post" class="form">
            {% csrf_token %}
    <div class="form-group">
        <label>
            <input type="text" class="form-row" name="text">
            </label>
    </div>
    <div class="radio">
        <label><input type="radio" name="public" value=1>Public</label>
        <label><input type="radio" name="public" value=0>Private</label>
    </div>
        {% buttons %}
        <button name="submit" class="btn btn-primery">add topic</button>
    {% endbuttons %}
    </form>
{% endblock content %}