{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
<h2>Register a new account.</h2>
{% endblock header %}

{% block content %}

    <form action="{% url 'users:register' %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-primery">register</button>
        {% endbuttons %}
        <span style="color:red;"> {{ status }}</span>
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>

{% endblock content %}